# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Django SQLite database
db.sqlite3

# Django migrations
**/migrations/
!*/migrations/__init__.py

# VSCode or other IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Logs
*.log

__init__.py